body {
  background: #000;
/*   border: 2px solid red; */
}

.set {
  margin: 0 25%;
  text-align: center;
}

.val {
  width: 165px;
}

.pole {
  width:  700px;
  height: 700px;
  margin: 10px auto;
  background: #3e3e3e;
}

.block {
  display: block;
  float: left;
  background: #4f4554;
  box-shadow: 0 0 1px #2b2b2b;
  
/*   height: 100px; */
/*   width: 100px; */
}

.clear {
  clear: both;
}